<form class="formwidth">
  <div class="row">
    <div class="col-6">
                <mat-form-field class="fullwidth" appearance="fill">
                    <mat-label>Item ID</mat-label>
                    <input matInput placeholder="Item ID" id="firstname"name="firstname">
                </mat-form-field>
            </div>      
        <div class="col-6">
                <mat-form-field class="fullwidth" appearance="fill">
                    <mat-label>Item Code</mat-label>
                    <input matInput placeholder="Item Code" id="lastname" name="lastname">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
        <mat-form-field class="fullwidth" appearance="fill">
            <mat-label>Item Description</mat-label>
            <textarea matInput placeholder="Item Description" id="address"  name="address"></textarea>
        </mat-form-field>
    </div>      
    <div class="col-6">
        <mat-form-field class="fullwidth" appearance="fill">
            <mat-label>Item Ingredients</mat-label>
            <input matInput placeholder="Item Ingredients" id="city"  name="city">
        </mat-form-field>
    </div>
</div>
<div class="row">
    <div class="col-6">
<mat-form-field class="fullwidth" appearance="fill">
    <mat-label>Item Price</mat-label>
    <input matInput placeholder="Item Price" id="state"   name="state">
</mat-form-field>
</div>      
<div class="col-6">
<mat-form-field class="fullwidth" appearance="fill">
    <input matInput #postalcode maxlength="5" placeholder="Postal Code" id="postalcode"
     name="postalcode">
    <!-- <md-hint align="end">
        {{postalcode.value.length}} / 5
    </md-hint> -->
</mat-form-field>
</div>
</div>
<div class="row">
    <div class="col-6">
    <input type="file" placeholder="Attachment" id="state"   name="state">

</div>      
</div>
<div class="row mt-5">
    <div class="col-6">
        <button  mat-raised-button type="submit" >Submit</button>
    </div>
</div>
</form>