.fullwidth {
  width: 100%;
}

.mat-form-field {
  width: 100%;
}

.mat-label {
  min-width: 150px;
}

.flex-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.form-fields-container {
    display: flex;
    align-items: center;
}

