.showsidebar {
  .tab-name {
    display: none;
  }
  .side-bar {
    width: 60px;
  }
}

.navbtn {
  cursor: pointer;
}
.side-bar {
  -webkit-transition: width .1s ease-in-out;
  -moz-transition: width .1s ease-in-out;
  -o-transition: width .1s ease-in-out;
  transition: width .1s ease-in-out;
  width: 268px;
  background: #000;
  height: 100%;
  min-height: 730px;
  padding: 0;
  float: left;
  border-right: 0px solid #dadada; 
  box-shadow: 0px 0px 5px #999;
  .side-menu-list {
    padding: 0 0px 0 0;
    margin-top: 16px;
    .sidebarlogo {
      color: #ffffff !important;
    }
    .side-menu-item {
      cursor: pointer;
      a.dash-item {
        text-decoration: none;
        color: #ffffff;
        font-size: 15px;
        display: block;
        line-height: 48px;
        padding: 0 16px;
        outline: none;
        border: 0;
        &:focus {
          outline: none;
          border: 0;
        }
      }
      .mat-list-option.active {
        background: #FE043C;
        min-width: 60px;
        color: #ffffff;
      }
    }
  }
}

.department-sidebar {
  float: left;
  width: calc(100% - 270px);
  //padding: 1rem 2rem;
}
.department-sidebar-left .mat-sort-header-arrow {
  margin: 18px 0 0 6px;
}
mat-toolbar.department-tool-bar.mat-toolbar {
  height: 42px;
  line-height: 42px;
  background: #f9f9f8;
  border-bottom: 1px solid #cccdcd;
  .mat-sort-header-arrow {
    margin: 18px 0 0 6px;
  }
}
.admintab-icon {
  width: 24px !important;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  margin: 0px 8px 3px 0;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
  border-radius: 3px;
}

@media (min-width: 576px) {
  .navbar-expand-sm .navbar-toggler.superadmin {
      display: block !important;
  }
}

.navbar-toggler.superadmin:focus {
  box-shadow: none !important;
}

.content {
  padding: 1.5rem;
  min-height: 600px;
}

.navbar {
  .search {
    height: 40px;
    border: 0;
  }
}