<section class="p-3 p-md-4 p-xl-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xxl-11">
        <div class="card border-light-subtle shadow-sm">
          <div class="row g-0">
            <div
              class="col-12 col-md-6 d-flex align-items-center justify-content-center lightbg"
            >
              <div class="col-12 col-lg-11 col-xl-10">
                <div class="card-body p-3 p-md-4 p-xl-5">
                  <div class="row">
                    <div class="col-12 mb-4">
                      <div class="mb-5">
                        <div class="text-center mb-4 karantina-bold">
                          Yummyfied
                        </div>
                      </div>
                    </div>
                  </div>

                  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="row gy-3 overflow-hidden">
                      <div class="col-12">
                        <div class="login-input mb-3">
                          <img
                            src="../../assets/emailicon.png"
                            class="input-icon"
                          />
                          <input
                            type="email"
                            class="form-control"
                            formControlName="email"
                            id="email"
                            placeholder="Email"
                          />
                          <div
                            *ngIf="
                              loginForm.get('email')?.invalid &&
                              (loginForm.get('email')?.touched ||
                                loginForm.get('email')?.dirty)
                            "
                            class="text-danger"
                          >
                            <small
                              *ngIf="loginForm.get('email')?.errors?.['required']"
                              >Email is required.</small
                            >
                            <small
                              *ngIf="loginForm.get('email')?.errors?.['email']"
                              >Invalid email format.</small
                            >
                          </div>
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="login-input mb-3">
                          <img
                            src="../../assets/passwordicon.png"
                            class="input-icon"
                          />
                          <input
                            type="password"
                            class="form-control"
                            formControlName="password"
                            id="password"
                            placeholder="Password"
                          />
                          <div
                            *ngIf="
                              loginForm.get('password')?.invalid &&
                              (loginForm.get('password')?.touched ||
                                loginForm.get('password')?.dirty)
                            "
                            class="text-danger"
                          >
                            <small
                              *ngIf="
                                loginForm.get('password')?.errors?.['required']
                              "
                              >Password is required.</small
                            >
                          </div>
                        </div>
                      </div>
                      <div class="col-5">
                        <a href="#">Forgot Password</a>
                      </div>
                      <div class="col-7">Don't have an account! Register?</div>
                      <div class="col-12 mt-4">
                        <div class="d-grid">
                          <button
                            class="btn loginbtn btn-lg"
                            type="submit"
                            [disabled]="loginForm.invalid"
                          >
                            Login
                          </button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <img
                class="rounded-start w-100 object-fit-cover"
                height="590px"
                loading="lazy"
                src="../../assets/LoginImages.png"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
