.lightbg {
     background: #FFF5EC;  
}

.login-input {
    input {
    padding: 0.5rem 0.5rem 0.5rem 2.8rem;    
}
}

.input-icon {
    position: absolute;
    margin: 0.9rem 1rem 0.7rem 1rem;
    width: 16px;
}