
    <header id="header" class="header d-flesx align-items-center container">
        <nav class="navbar navbar-expand-sm navbar-light bg-no">
            <div class="container">
                <a class="navbar-brand karantina-bold" href="javascript:void(0)">Yummyfied</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="mynavbar">
                    <ul class="navbar-nav m-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0)">Categories</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0)">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0)">Contact Us</a>
                        </li>
                    </ul>
                    <div class="d-flex">
                        <!-- <a class="btn-getstarted" routerLink="/login">Login/Sign up</a> -->
                        <a class="login" routerLink="/login">Login / Sign up</a>
                    </div>
                </div>
            </div>
        </nav>

    </header>
    <div class="container">
        <main class="main">

            <!-- Hero Section -->
            <section id="hero" class="hero section light-background ps-5 shadow-sm">

                <div class="container">
                    <div class="row gy-4 justify-content-center justify-content-lg-between">
                        <div class="col-lg-7 order-2 order-lg-1 d-flex flex-column justify-content-center">
                            <h1 data-aos="fade-up" class="homeheading">Discover Restaurant <br /> Delicious Cuisines
                            </h1>
                            <div class="mt-4 col-6">
                                <div class="search-2"> <i class='bx bxs-map'></i>
                                    <input type="text" placeholder="San Francisco,USA"> <button
                                        class="searchbtn">GO</button>
                                </div>
                            </div>
                            <div class="row mt-5 pt-5">
                                <div class="col-sm-6">
                                    <P class="home-text">Categories you might <br />want to explore</P>
                                </div>
                                <div class="col-sm-6">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut
                                    labore et dolore magna aliqua.


                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 order-1 order-lg-2 hero-img leela transparentbg" data-aos="zoom-out">
                            <img src="../../assets/plate.png" class="img-fluid animated " alt="" width="70%">
                            <!-- <div class="bg"></div> -->

                        </div>
                    </div>



                    <div class="row mt-5 categories-row">
                        <div class="col-sm-4 col-md-2">
                            <img src="../../assets/FoodBar.png" width="80">
                            <div class="mt-2 categories cafe">CAFE</div>
                        </div>
                        <div class="col-sm-4 col-md-2">
                            <img src="../../assets/FoodService.png" width="80">
                            <div class="mt-2 categories">Restaurant</div>
                        </div>
                        <div class="col-sm-4 col-md-2">
                            <img src="../../assets/FoodService.png" width="80">
                            <div class="mt-2 categories">Food court</div>
                        </div>
                        <div class="col-sm-4 col-md-2">
                            <img src="../../assets/FoodService.png" width="80">
                            <div class="mt-2 categories">catering</div>
                        </div>
                        <div class="col-sm-4  col-md-2">
                            <img src="../../assets/FoodService.png" width="80">
                            <div class="mt-2 categories">banquets</div>
                        </div>
                        <div class="col-sm-4  col-md-2">
                            <img src="../../assets/FoodService.png" width="80">
                            <div class="mt-2 categories">club house</div>
                        </div>

                    </div>
                </div>
            </section><!-- /Hero Section -->

            <!-- About Section -->


        </main>
    </div>
    <div class="container-fluid p-0 mt-5">
        <main class="main">
            <!-- Hero Section -->
            <section id="hero" class="hero section light-background ps-5 shadow-sm section-2">
                <div class="container">
                    <div class="row gy-4 justify-content-center justify-content-lg-between">
                        <div class="col-lg-7 order-2 order-lg-1 d-flex flex-column justify-content-center">
                            <h1 data-aos="fade-up" class="homeheading">Discover Restaurant Delicious Cuisines
                            </h1>
                            <div class="mt-4 col-6">
                                <div class="search-2"> <i class='bx bxs-map'></i>
                                    <input type="text" placeholder="San Francisco,USA"> <button
                                        class="searchbtn">GO</button>
                                </div>
                            </div>
                        
                        </div>
                        <div class="col-lg-5 order-1 order-lg-2 hero-img leela transparentbg" data-aos="zoom-out">
                            <img src="../../assets/plate.png" class="img-fluid animated " alt="" width="70%">                            <!-- <div class="bg"></div> -->

                        </div>
                    </div>   
                </div>
            </section><!-- /Hero Section -->

            <!-- About Section -->
            <section id="hero" class="hero section ps-5 shadow-sm section-3">
                <div class="container">
                    <div class="row gy-4 justify-content-center justify-content-lg-between">
                                 <div class="col-sm-12">
                                    <h2 class="text-center subheading">Categories you might want to explore</h2>
                                </div>
                                <div class="col-sm-12 mx-2 text-center">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.
                                </div>
                            </div>
                             <div class="row mt-5 categories-row">
                        <div class="col-sm-4 col-md-2">
                            <img src="../../assets/FoodBar.png" width="80">
                            <div class="mt-2 categories cafe">CAFE</div>
                        </div>
                        <div class="col-sm-4 col-md-2">
                            <img src="../../assets/FoodService.png" width="80">
                            <div class="mt-2 categories">Restaurant</div>
                        </div>
                        <div class="col-sm-4 col-md-2">
                            <img src="../../assets/FoodService.png" width="80">
                            <div class="mt-2 categories">Food court</div>
                        </div>
                        <div class="col-sm-4 col-md-2">
                            <img src="../../assets/FoodService.png" width="80">
                            <div class="mt-2 categories">catering</div>
                        </div>
                        <div class="col-sm-4  col-md-2">
                            <img src="../../assets/FoodService.png" width="80">
                            <div class="mt-2 categories">banquets</div>
                        </div>
                        <div class="col-sm-4  col-md-2">
                            <img src="../../assets/FoodService.png" width="80">
                            <div class="mt-2 categories">club house</div>
                        </div>

                    </div>
                </div>
            </section><!-- /Hero Section -->

        </main>
    </div>
<footer id="footer" class="footer dark-background">
    <div class="container">
        <p class="footertext">
            &copy; 2024 Yummyfied. All Rights Reserved.
        </p>
    </div>
</footer>
