<div class="container-fluid">
    <header id="header" class="header d-flex align-items-center ">
        <div class="container position-relative d-flex align-items-center justify-content-between">

            <a href="index.html" class="logo d-flex align-items-center me-auto me-xl-0">
                <!-- Uncomment the line below if you also wish to use an image logo -->
                <!-- <img src="assets/img/logo.png" alt=""> -->
                <h1 class="karantina-bold">Yummyfied</h1>
            </a>

            <nav id="navmenu" class="navmenu">
                <ul>
                    <li><a href="#hero" class="active">Categories<br></a></li>
                    <li><a href="#about">About Us</a></li>
                    <!-- <li><a href="#menu">Menu</a></li>
          <li><a href="#events">Events</a></li> -->
                    <li><a href="#chefs">Contact Us</a></li>

                </ul>
                <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
            </nav>

            <!-- <a class="btn-getstarted" href="index.html#book-a-table">Book a Table</a> -->
            <a class="btn-getstarted" routerLink="/login">Login/Sign up</a>
        </div>
    </header>
<div class="container">
    <main class="main">

        <!-- Hero Section -->
        <section id="hero" class="hero section light-background ps-5 shadow-sm">

            <div class="container">
                <div class="row gy-4 justify-content-center justify-content-lg-between">
                    <div class="col-lg-7 order-2 order-lg-1 d-flex flex-column justify-content-center">
                        <h1 data-aos="fade-up" class="homeheading">Discover Restaurant <br /> Delicious Cuisines</h1>
                        <div class="mt-4 col-sm-6">
                            <div class="search">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="search-1"> </div>
                                    </div>
                                    <div>
                                        <div class="search-2"> <i class='bx bxs-map'></i>
                                            <input type="text" placeholder="San Francisco,USA"> <button
                                                class="searchbtn">GO</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row mt-5 pt-5">
                            <div class="col-sm-6">
                                <P class="home-text">Categories you might <br />want to explore</P>
                            </div>
                            <div class="col-sm-6">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                labore et dolore magna aliqua.
        
        
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 order-1 order-lg-2 hero-img leela transparentbg" data-aos="zoom-out">
                        <img src="../../assets/plate.png" class="img-fluid animated " alt="" width="70%">
                        <!-- <div class="bg"></div> -->

                    </div>
                </div>

             

                <div class="row mt-5 categories-row">
                    <div class="col-sm-2">
                        <img src="../../assets/FoodBar.png" width="80">
                        <div class="mt-3 categories cafe">CAFE</div>
                    </div>
                    <div class="col-sm-2">
                        <img src="../../assets/FoodService.png" width="80">
                        <div class="mt-3 categories">Restaurant</div>
                    </div>
                    <div class="col-sm-2">
                        <img src="../../assets/FoodService.png" width="80">
                        <div class="mt-3 categories">Food court</div>
                    </div>
                    <div class="col-sm-2">
                        <img src="../../assets/FoodService.png" width="80">
                        <div class="mt-3 categories">catering</div>
                    </div>
                    <div class="col-sm-2">
                        <img src="../../assets/FoodService.png" width="80">
                        <div class="mt-3 categories">banquets</div>
                    </div>
                    <div class="col-sm-2">
                        <img src="../../assets/FoodService.png" width="80">
                        <div class="mt-3 categories">club house</div>
                    </div>

                </div>
            </div>
        </section><!-- /Hero Section -->

        <!-- About Section -->


    </main>
</div>
</div>
<footer id="footer" class="footer dark-background">


</footer>

<!-- Scroll Top -->
<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>