.bg {
    height: 500px;
    width: 30%;
    display: block;
    overflow: hidden;
    background: #ff033c;
    position: absolute;
    right: 0;
    z-index: 999;
    top: 0;
}

.cafe {
    color: #ff033c !important;
}

.login {
    color: #ff033c !important;
    font-weight: 600;
}

.transparentbg {
    background-image: url(../../assets/Isolation_Mode.png);
    background-size: 50%; 
}

.transparentbg::after {
    background: #FE043C;
    position: absolute;
    display: block;
    width: 24%;
    height: 68%;
    content: "";
    top: 0;
    right: 0;
}

.section-2 {    
.transparentbg::after {
    height: 100%;
}
.homeheading {
    font-size: 3rem;
}
}

.section-3 {    
    padding-top: 2rem !important;
}

@media screen and (max-width: 400px) {
    .transparentbg::after {
        height: 250px;
  }
}

@media screen and (min-width: 400px) and (max-width:768px) {
    .transparentbg::after {
        height: 355px;
  }
}

@media screen and (min-width: 768px) {
    .nav-link {
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
  }
}

.subheading {
    color: #2e245c !important;
    font-size: 2rem;
    font-weight: 600;
}

.home-text {
    border-left: 5px solid #ff033c;
    font-size: 1.5rem;
    font-weight: 600;
    padding-left: 1rem;
    line-height: 25px;
    color: #2e245c !important;
}

.animated {
    z-index: 2052;
    position: relative;
}
.categories-row {
    .col-sm-4.col-md-2 {
        text-align: center;
        cursor: pointer;
    }
.categories {
    text-transform: uppercase;
    text-align: center;
}
}

.animatedc{
    z-index: 999; 
    animation-name: rotate;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


@keyframes rotate{
    from{ transform: rotate(-360deg); }
    to{ transform: rotate(360deg); }
}
